.idea
data/EVA_dataset/image
data/EVA_dataset/NIMA_config/logs
data/EVA_dataset/NIMA_config/weights
data/AVA_dataset/NIMA_config/logs
data/AVA_dataset/NIMA_config/weights
data/combined_dataset/NIMA_config/logs
data/combined_dataset/NIMA_config/weights

NIMA/src/__pycache__/
musiq/checkpoints/
NIMA/models/MobileNet/*.hdf5
data/Saved_model
inference/inference_iqs/.vs
inference/inference_iqs/x64